<!--formulario de login de usuario-->
<form [formGroup]="myForm" class="container w-50 " (ngSubmit)="onSubmit()">

  <fieldset class="d-flex flex-column align-items-center">
    <legend class="text-center">Usuario</legend>
    <div class="d-flex flex-column mb-3 w-75"><!--El w-75 establece el ancho del input, de tal forma que se hace un diseño responsive, mb-3 significa margin botton, y establece el margen que queremos dejar respecto al elemento que se encuentra debajo-->
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" formControlName="usuario" name="usuario" required>
      <div *ngIf="this.myForm.get('usuario')?.invalid && (this.myForm.get('usuario')?.dirty || this.myForm.get('usuario')?.touched)">
        <p style="color:red;">Usuario invalido</p>
      </div>
    </div>
    <div class="d-flex flex-column mb-3 w-75">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" formControlName="contrasena" name="contrasena" required>
      <div *ngIf="this.myForm.get('contrasena')?.invalid && (this.myForm.get('contrasena')?.dirty || this.myForm.get('contrasena')?.touched)">
        <p style="color:red;">Usuario invalido</p>
      </div>
    </div>
    <div class="d-flex flex-column mb-3 w-75">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" name="email" required>
      <div *ngIf="this.myForm.get('email')?.invalid && (this.myForm.get('email')?.dirty || this.myForm.get('email')?.touched)">
        <p style="color:red;">Usuario invalido</p>
      </div>
    </div>
        <div class="d-flex justify-content-around">
          <button class="testbutton" type="submit">Enviar</button>
          {{mensaje}}
        </div>
        <div class="relleno"></div>
</fieldset>
</form>



