<form [formGroup]="formDisco" id="formularioDisco">
  <div class="col-5">
    <label for="anyoDisco">Año</label><br />
    <input type="date" id="anyoDisco" name="anyoDisco" formControlName="anyoDisco"><br />
  </div>
  <div class="col-5">
    <label for="generoDisco">Genero</label><br />
    <input type="text" id="generoDisco" name="generoDisco" formControlName="generoDisco"><br />
  </div>
  <div class="col-5">
    <label for="tituloDisco">Titulo</label><br />
    <input type="text" id="tituloDisco" name="tituloDisco" formControlName="tituloDisco"><br />
  </div>
  <div class="col-5">
    <label for="artistaDisco">Artista</label><br />
    <input type="text" id="artistaDisco" name="artistaDisco" formControlName="artistaDisco"><br />
  </div>
  <div class="col-5">
    <label for="portadaDisco">Portada</label><br />
    <input type="text" id="portadaDisco" name="portadaDisco" formControlName="portadaDisco"><br />
  </div>
</form>
