<form class="container" [formGroup]="formCanciones" (ngSubmit)="onSubmit()">
  <fieldset class="row">
    <legend class="text-center">Canciones</legend>
    <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center">
      <div class="d-flex flex-column mb-3 w-75">
        <label>Título: </label>
        <input type="text" id="tituloCanciones" name="tituloCanciones" formControlName="tituloCanciones" />
        <div *ngIf="this.formCanciones.get('tituloCanciones')?.invalid && (this.formCanciones.get('tituloCanciones')?.dirty || this.formCanciones.get('tituloCanciones')?.touched)">
          <!--Este *ngIf nos dice que es (invalid) en caso de no pasa las validaciones, (dirty) cuando ya se ha tocado el control y (touched) cuando el campo ya se ha tocado-->
          Titulo invalido
        </div>
      </div>
      <div class="d-flex flex-column mb-3 w-75">
        <label>Género: </label>
        <input type="text" id="generoCanciones" name="generoCanciones" formControlName="generoCanciones" />
        <div *ngIf="this.formCanciones.get('generoCanciones')?.invalid && (this.formCanciones.get('generoCanciones')?.dirty || this.formCanciones.get('generoCanciones')?.touched)">
          Género invalido
        </div>
      </div>
      <div class="d-flex flex-column mb-3 w-75">
        <label>Año: </label>
        <input type="date" id="anyoCanciones" name="anyoCanciones" formControlName="anyoCanciones" />
        <div *ngIf="this.formCanciones.get('anyoCanciones')?.invalid && (this.formCanciones.get('anyoCanciones')?.dirty || this.formCanciones.get('anyoCanciones')?.touched)">
          Año invalido
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center">
      <div class="d-flex flex-column mb-3 w-75">
        <label>Artista: </label>
        <input type="text" id="artistaCanciones" name="artistaCanciones" formControlName="artistaCanciones" />
        <div *ngIf="this.formCanciones.get('artistaCanciones')?.invalid && (this.formCanciones.get('artistaCanciones')?.dirty || this.formCanciones.get('artistaCanciones')?.touched)">
          Artista invalido
        </div>
      </div>
      <div class="d-flex flex-column mb-3 w-75">
        <label>Disco: </label>
        <input type="text" id="discoCanciones" name="discoCanciones" formControlName="discoCanciones" />
        <div *ngIf="this.formCanciones.get('discoCanciones')?.invalid && (this.formCanciones.get('discoCanciones')?.dirty || this.formCanciones.get('discoCanciones')?.touched)">
          Disco invalido
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <button class="testbutton" type="submit">Submit</button>
    </div>
    <div class="relleno"></div>
    {{mensaje}}
  </fieldset>
</form>

