/*// <uniquifier > : Use a unique and descriptive class name
// <weight > : Use a value from 400 to 800
*/
body {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to bottom, rgba(60, 151, 201, 0.8) 0%, rgba(60, 151, 201, 0.8) 100%), url('assets/6037288.jpg');
  background-size: cover;
}
input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
  border-radius: 6px;
  height: 40px;
}

input[type="text"]:focus {
  background-color: transparent;
  outline: none;
  border-radius:6px;
  border: 5px solid skyblue;
}
.degradado {
  background: #CFE7FA;
  background: linear-gradient(to right, #CFE7FA 0%, #6393C1 100%);
}
.testbutton {
  font-family: "Sen", sans-serif;
  color: #FEFFFC !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #2C3D4F;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  border-radius: 14px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
}
.logo {
    height:100px;
    width:100px;
}
.testbutton:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #63B8EE);
}
form{
    margin-top:10%;
    background-color:white;
    border-radius:20px;
    box-shadow:3px 3px 5px 0px ;
}

.error {
    height: 20px;
    color: red;
}
.relleno {
    height:20px;
}
