<form class="container justify-content-center"[formGroup]="formArtistas">
  <fieldset>
    <legend class="text-center">Artista</legend>
    <div class="row">
      <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center">
        <div class="d-flex flex-column w-75">
          <label>Artistas:</label>
          <input type="text" name="artistasNombre" formControlName="artistasNombre" required />
          <!--<span *ngIf="this.formArtistas.get('artistasNombre')?.errors?.['required']">
      (El nombre del artista no puede quedar vacío)
    </span>
    <span *ngIf="this.formArtistas.get('artistasNombre')?.errors?.['minlength']">
      (Debe tener como mínimo 3 caracteres)
    </span>-->
        </div>
        <div class="error w-75" id="artistasNombreValidar"></div>
        <div class="d-flex flex-column w-75">
          <label class="w-75">Año Nacimiento:</label>
          <input type="number" name="artistasAnyo" formControlName="artistasAnyo" />
        </div>
        <div class="error w-75" id="artistasAnyoValidar"></div>
        <div class="d-flex flex-column w-75">
          <label>Album:</label>
          <input class="w-5" type="text" name="artistasAlbum" formControlName="artistasAlbum" />
        </div>
        <div class="error w-75" id="artistasAlbumValidar"></div>
      </div>

      <div class="col-lg-6 col-sm-12 d-flex flex-column align-items-center">
        <div class="d-flex flex-column w-75">
          <label>Pertenece al grupo:</label>
          <input type="text" name="artistasGrupo" formControlName="artistasGrupo" />
        </div>
        <div class="error w-75" id="artistasGrupoValidar"></div>
        <div class="d-flex flex-column w-75">
          <label>Género/Tipo de Música:</label>
          <input type="text"name="artistasGenero" formControlName="artistasGenero" />
        </div>
        <div class="error w-75" id="artistasGeneroValidar"></div>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <button class="testbutton" type="submit" (click)="enviar()">Enviar</button>
      <button class="testbutton" type="reset" (click)="reset()">Reset</button>
    </div>
    <div class="relleno"></div>
  </fieldset>
  </form>
<!--<div>{{resultado}}</div>-->
