

<form class="container" [formGroup]="formConcierto">
  <fieldset class="row">
    <legend class="text-center">Conciertos</legend>
    <div class="col-6 d-flex flex-column align-items-center">
      <div class="d-flex flex-column w-75">
        <label for="conciertoArtista">Artista</label>
        <input type="text" id="conciertoArtista" formControlName="artistaConcierto" />
      </div>
      <div class="error w-75" id="validacionArtista"></div>
      <div class="d-flex flex-column w-75">
        <label for="conciertoLugar">Lugar</label>
        <input type="text" id="conciertoLugar" formControlName="lugarConcierto" />
      </div>
      <div class="error w-75" id="validacionLugar"></div>
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
      <div class="d-flex flex-column w-75">
        <label for="conciertoFecha">Fecha</label>
        <input type="date" id="conciertoFecha" formControlName="fechaConcierto" />
      </div>
      <div class="error w-75" id="validacionFecha"></div>
      <div class="d-flex flex-column w-75">
        <label for="conciertoGenero">Género</label>
        <input type="text" id="conciertoGenero" formControlName="generoConcierto" />
      </div>
      <div class="error w-75" id="validacionGenero"></div>
    </div>
    <div class="d-flex justify-content-around">
      <button class="testbutton" (click)="validar()" type="submit">Enviar</button>
      <button class="testbutton" (click)="reset()" type="reset">Reset</button>
    </div>
    <div class="relleno"></div>
  </fieldset>
</form>
